
/*General - styles that are repeated across pages*/
body {
	min-height: 100vh;
	margin: 0px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	position: relative;
}

h2, h3, a, p, li {
    font-family: Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
h1 {
    font-family: owners-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
	text-transform: uppercase;
}
nav, header {
	background-color: #FFF4BC;
}

/*NAV*/
nav {
	position: sticky;
	top: 0;
	padding: 3em 5em;
	display: flex;
	justify-content: space-between;
}
.logo {
	width: 4em;
}
/*Hamburger toggle (code from canvas module: grid layout and complete page, 
Example complete page 2: Hamburger menu)*/
#hamburger-toggle{
	display: none;
}
.hamburger-toggle-container {
	cursor: pointer;
}
.menu{
	margin: 0;
	list-style-type: none;
	padding: 0;
}
.menu-icon{
	display: block;
	background-image:url(../media/hamburger-menu.svg);
	background-size: cover;
	height: 40px;
	width: 40px;
}
.menu li {
	height: 0px;
	overflow: hidden;
}

#hamburger-toggle:checked ~ .menu li {
	height: 1rem;
	width: auto;
	padding-top: 2em;

}

/*HEADER*/




main {
	height: 1400px;
}

/*Index section one - Accordion____________SIMEN*/

/*Index section one - Table________________MARTIN*/

/*Index Section two - buttons og links_____REBEKKA*/

/*Footer___________________________________JULIE*/
