
/*General - styles that are repeated across pages*/
body {
	min-height: 100vh;
	margin: 0px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	position: relative;
}

h2, h3, a, p, li {
    font-family: Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
h1 {
    font-family: owners-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
}


/*Header___________________________________TATIANA*/

/*Index section one - Accordion____________SIMEN*/

/*Index section one - Table________________MARTIN*/

/*Index Section two - buttons og links_____REBEKKA

We might want to move the h2 up at the top, unless someone else has added it as well.
Just put it here as to not make a mess.*/
h2{
	font-family: "arial black";
    font-size: 1.75em;
    text-transform: uppercase;
}
.button-section{
    margin: auto;
    text-align: center;
    max-width: 55%;
    min-width: 440px;
}
/* <a> tag (hyperlink) that looks like button*/
a.button{
	background-color: white; 
  border: 0.1em solid #9a9a9a; 
  border-radius: 0.6em;
  padding: 0.9em 1.6em;
  font-family: Arial;
  color: black;
  text-decoration: none;
  font-size: 1.24em;
  text-align: left;
  position:inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  margin-top: 0.6em;
  /*Margin top endrer seg ikke hos meg? Men det funka på testeren min, så får finne ut om den bare bugger evt*/
  line-height: 1.6;
  transition-duration: 0.4s;
  width: 80%;
  min-width: 420px;
}
a.button:hover{
    border: 0.1em solid #F7AF8E;
}
.buttonimg{
    float: left;
    height: 6em;
    padding-right: 0.6em;
    padding-top:0.2em;
}

/*Footer___________________________________JULIE*/
